body{
  background-image: url("/tacoma.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: navy;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
}
